.contenedorImagenPrincipal
{
	width: 100%;
	height: 400px;
	position: relative;
}

.contenedorImagenPrincipal img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
}

.contEncima
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.contEncima h1
{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	margin: 0;
}

.infoPersonal
{
	margin-top: 40px;
}

.subtitulo
{
	font-weight: bold;
	margin-bottom: 30px;
}

#txtDescripcion
{
	width: 100%;
	resize: none;
}